<%= form_with model: @path do |form| %>
    <%= render "shared/validation-messages", object: @path %>
    <!-- O & D input -->
    <div>
        <%= form.label :origin %>
        <%= form.text_field :origin %>
        <!-- destination input -->
        <%= form.label :destination %>
        <%= form.text_field :destination %>
        <!-- links_to_same_article input -->
        <%= form.label :links_to_same_article %>
        <%= form.check_box :links_to_same_article %>
    </div>
    <!-- intermediate input -->
    <div>
        <%= form.label "Intermediate articles" %><br>
        <%if @path.intermediate.length == 0 %>
            <% for k in 0..3 do %>
                <%= text_field_tag "path[intermediate][]" %>
            <% end %>
        <% end %>
        <%if @path.intermediate.length > 0 %>
            <% for article in @path.intermediate %>
                <%= text_field_tag "path[intermediate][]", article %>
            <% end %>
            <%if @path.intermediate.length < 4 %>
                <% for k in 0..(3-@path.intermediate.length) do %>
                    <%= text_field_tag "path[intermediate][]" %>
                <% end %>
            <% end %>
        <% end %>
    </div>

    <div>
        <%if request.path.include? "/new" %>
            <%= form.submit "Create" %>
        <% end %>
        <%if request.path.include? "/edit" %>
            <%= form.submit "Update" %>
        <% end %>
        <%= link_to "Cancel", root_path, class: 'btn btn-danger' %>
    </div>
<% end %>