<%= form_with model: @path do |form| %>
    <!-- origin input -->
    <div>
        <%= form.label :origin %><br>
        <%= form.text_field :origin %>
        <% @path.errors.full_messages_for(:origin).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <!-- destination input -->
    <div>
        <%= form.label :destination %><br>
        <%= form.text_field :destination %>
        <% @path.errors.full_messages_for(:destination).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <!-- intermediate input -->
    <div>
        <% for k in 0..3 do %>
            <%= text_field_tag "path[intermediate][]" %>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>