<%= link_to "Home", root_path %>
<h1><%= @path.origin %> -> <%= @path.destination %></h1>
<p>
    <%= link_to "Edit", edit_path_path(@path) %>
    <%= link_to "Destroy", path_path(@path), method: :delete, data: {
        confirm: "Are you sure?" } %>
</p>
<% if @path.links_to_same_article %>
    <p>Origin and destination point to the same article.</p>
<% end %>
<% if (!@path.links_to_same_article && @path.intermediate.length == 0) %>
    <p>This path linkage has no intermediate articles and is a 1st degree connection.</p>
<% end %>
<% if (@path.intermediate.length > 0) %>
    <p>The full path linkage is as follows:</p>
    <p><%=@path.origin + " --> " + @path.intermediate.join(" --> ") + " --> " + @path.destination%></p>
<% end %>